<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SCBypass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SCBypass.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="pauseBetween" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="retryFailPageContains" serializeAs="String">
                <value>UA-2152484-1</value>
            </setting>
            <setting name="retryPage" serializeAs="String">
                <value>http://www.something.com</value>
            </setting>
            <setting name="needLoginCheck" serializeAs="String">
                <value>Valparaiso University</value>
            </setting>
            <setting name="userAgent" serializeAs="String">
                <value>Mozilla/5.0 (X11; U; Linux x86_64; en_US; rv:1.9.2.8) Gecko/20100723 Ubuntu/10.04 (lucid) Firefox/3.6.8</value>
            </setting>
        </SCBypass.Properties.Settings>
    </userSettings>
</configuration>